In [ ]:
import numpy as np
import pandas as pd
from math import isnan
import matplotlib

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving The Guardian League Table Main Table 2013-2021 (1).csv to The Guardian League Table Main Table 2013-2021 (1).csv

In [ ]:
df1 = pd.read_csv('The Guardian League Table Main Table 2013-2021 (1).csv')

In [ ]:
df1.head(10)

,year,rank,last year rank,institution,guardian score / 100,Satisfiend with course,Satisfied with teaching,Satisfiend with feedback,Student to Staff Ratio,Spend per student /10,Average Entry tariff,Value Added score /10,Career After 6 months,Continuation
0,2021,1,3.0,Oxford,100.0,NaN,NaN,NaN,10.3,10.0,203.0,7.1,93.0,99.0
1,2021,2,2.0,St Andrews,98.0,94.0,93.0,80.8,11.2,7.0,211.0,6.3,84.0,97.0
2,2021,3,1.0,Cambridge,95.4,NaN,NaN,NaN,11.2,9.9,212.0,5.4,93.0,99.0
3,2021,4,5.0,Durham,81.5,86.1,85.3,71.8,14.7,5.9,188.0,7.0,89.0,98.0
4,2021,5,19.0,London School of Economics,81.0,80.6,81.6,69.4,11.9,8.9,170.0,6.9,93.0,97.0
5,2021,6,6.0,Bath,80.1,87.7,86.3,67.0,14.9,6.3,174.0,7.1,91.0,97.0
6,2021,7,4.0,Loughborough,79.3,89.6,86.9,73.9,13.4,5.7,153.0,6.3,85.0,96.0
7,2021,8,9.0,Warwick,77.1,86.2,85.0,71.6,13.8,7.3,172.0,6.3,88.0,96.0
8,2021,9,7.0,Imperial College,74.4,81.6,83.6,60.7,11.1,8.8,190.0,5.6,96.0,95.0
9,2021,10,7.0,Lancaster,73.1,86.9,85.0,70.1,12.5,8.1,150.0,5.2,84.0,96.0

In [ ]:
df1.columns

Index(['year', 'rank', 'last year rank', 'institution', 'guardian score / 100',
       'Satisfiend with course', 'Satisfied with teaching',
       'Satisfiend with feedback', 'Student to Staff Ratio',
       'Spend per student /10', 'Average Entry tariff',
       'Value Added score /10', 'Career After 6 months', 'Continuation'],
      dtype='object')

In [ ]:
df2 = df1.drop(['year','rank','last year rank','institution'],axis = 'columns')

In [ ]:
df2.columns

Index(['guardian score / 100', 'Satisfiend with course',
       'Satisfied with teaching', 'Satisfiend with feedback',
       'Student to Staff Ratio', 'Spend per student /10',
       'Average Entry tariff', 'Value Added score /10',
       'Career After 6 months', 'Continuation'],
      dtype='object')

In [ ]:
df2.isnull().sum()

guardian score / 100          0
Satisfiend with course        5
Satisfied with teaching       5
Satisfiend with feedback      5
Student to Staff Ratio        0
Spend per student /10         6
Average Entry tariff          1
Value Added score /10         1
Career After 6 months         0
Continuation                835
dtype: int64

In [ ]:
df3 = df2.fillna(df2.median())

In [ ]:
df3.isnull().sum()

guardian score / 100        0
Satisfiend with course      0
Satisfied with teaching     0
Satisfiend with feedback    0
Student to Staff Ratio      0
Spend per student /10       0
Average Entry tariff        0
Value Added score /10       0
Career After 6 months       0
Continuation                0
dtype: int64

In [ ]:
x = df3
y=df1['rank']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state =1)

In [ ]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.8987776209643101

In [ ]:
X_test.columns

Index(['guardian score / 100', 'Satisfiend with course',
       'Satisfied with teaching', 'Satisfiend with feedback',
       'Student to Staff Ratio', 'Spend per student /10',
       'Average Entry tariff', 'Value Added score /10',
       'Career After 6 months', 'Continuation'],
      dtype='object')

In [ ]:
def predict_rank(guardian_score,Satisfiend_with_course,Satisfied_with_teaching,Satisfiend_with_feedback,
       Student_to_Staff_Ratio, Spend_per_student,Average_Entry_tariff,Value_Added_score,Career_After_6_months,Continuation):    

    r = np.zeros(len(x.columns))
    r[0] = guardian_score
    r[1] = Satisfiend_with_course
    r[2] = Satisfied_with_teaching
    r[3] = Satisfiend_with_feedback
    r[4] = Student_to_Staff_Ratio
    r[5] = Spend_per_student
    r[6] = Average_Entry_tariff
    r[7] = Value_Added_score
    r[8] = Career_After_6_months
    r[9] = Continuation

    return lr_clf.predict([r])[0]

In [ ]:
predict_rank(81.5,86.1,85.3,71.8,14.7,5.9,188,7,89,98)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

4.034407029715453

In [ ]:
predict_rank(61.4,84,85,71,14.1,7.5,159,5.7,81,95)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

46.9436713306398

In [ ]:
predict_rank(56,94,93,80.8,11.2,7,	211,	6.3,	84,	97)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

47.33658026559675